---
import Image from '../components/Image.astro'
import Layout from '../layouts/Layout.astro'
const images = await Astro.glob('../../public/images/*')

const imgRoutes = images.map(image => image.default.split('/').at(-1))
---

<Layout title="Welcome to Astro.">
	<main class="grid [&>*]:p-5 [&>*]:md:p-[100px]">
		<header>
			<p class="antialiased text-[32px] md:text-[50px] leading-[1.3]">
				Noel is a photographer & filmmmaker
				<span class="md:block"> based in Amsterdam, The Netherlands.</span>
			</p>
		</header>

		<section class="grid-images grid md:grid-cols-4 gap-[10px]">
			{imgRoutes.map(imgRoute => <Image src={`images/${imgRoute}`} />)}
		</section>
	</main>
</Layout>
