---
---

<header class="sticky h-fit py-10 px-5 md: font-medium">
  <nav class="flex justify-between items-baseline">
    <span
      class="transition-colors delay-75 text-opacity-60 text-black hover:text-opacity-100"
      >Noel Perez</span
    >
    <ul class="flex items-baseline gap-[30px]">
      <li
        class="transition-colors delay-75 text-opacity-60 text-black hover:text-opacity-100"
      >
        About
      </li>
      <li
        class="transition-colors delay-75 text-opacity-60 text-black hover:text-opacity-100"
      >
        Contact
      </li>
    </ul>
  </nav>
</header>
